cachetools
certifi
cffi
chardet
Click
Flask
gevent
google-assistant-grpc
google-assistant-sdk
google-auth
google-auth-oauthlib
googleapis-common-protos
greenlet
idna
itsdangerous
Jinja2
MarkupSafe
oauthlib
protobuf
pyasn1
pyasn1-modules
pycparser
requests
requests-oauthlib
rsa
six
sounddevice
urllib3
Werkzeug
WSGIserver
grpcio